<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${name}"></h1>
<h2>Welcome to Thymeleaf</h2>
<h1 th:text="${ # strings.toUpperCase(name)}"></h1>
<h1 th:text="${# strings.toLowerCase(name)}"></h1>
<h1 th:text="${# strings.length(name)}"></h1>
<h3>Creating variable inside it</h3>
<div th:with="a=10,b=20,n=${name}">
    <h3 th:text="${a}"></h3>
    <h3 th:text="${b}"></h3>
    <h3 th:text="${n}"></h3>

</div>


</body>
</html>